<%-include('include/_header')%>

<main id="site-main">
  <div class="container">

    <div class="d-flex justify-between choose">

      <div class="user_login">
        <img class="login_images" src="/Images/simple_user.png" alt="">
        <br>
        <a href="/UserLogin"><button type="button" class="login_button" name="button">Login As User</button></a>
      </div>

      <div class="admin_login">
        <img class="login_images" src="/Images/admin_user.png" alt="">
        <br>
        <a href="/AdminLogin"><button type="button" class="login_button" name="button">Login As Admin</button></a>
      </div>

    </div>


  </div>
</main>

<%-include('include/_footer')%>
